@charset "utf-8";

.theme-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #eeeeee;
  max-width: 600px;
  margin: auto;
}

.preview {
  padding: 30px;
}

.preview-container {
  background-color: #eeeeee;
  min-width: 150px;
  max-width: 480px;
  height: 250px;
  width: 100%;
  margin: auto;
}

.preview-container img {
	visibility: hidden;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.answer-form {
  max-width: 600px;
  margin: auto;
}

.request {
  text-align: center;
}

.main-container {
	background-color: #ffffff;
	padding: 20px;
	min-height: 1000px;
}

