@charset "utf-8";

.themes-title {
	padding: 10px;
	margin: auto;
	font-size: 18px;
  	color: #792a00;
  	border-bottom: 2px solid #792a00;
  	width: 200px;
  	text-align: center;
}

.user-info-container-inner {
	background-color: #ffffff;
	padding: 20px;
}

.username {
	font-size: 24px;
	color: #792a00;
	text-align: center;
}

.upload-button {
	padding-top: 100px;
	padding-bottom: 100px;
}