<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<head th:replace="~{base :: base}"></head>
<link rel="stylesheet" th:href="@{/css/answer-form.css}">
</head>
<body>
	<header th:replace="~{header :: header}"></header>
	<nav th:replace="~{nav :: nav(page='')}"></nav>

	<main class="container">
		<div class="main-container">
			<div class="main-container-inner">

				<h2>らくがきする</h2>

				<div class="theme">
					<div class="theme-container">
						<div class="preview">
							<div class="preview-container">
								<img th:src="${theme.imgUrl}" alt=""
									style="visibility: visible;">
							</div>
						</div>
						<div class="request">
							<p th:text="${theme.request}"></p>
						</div>
						<div class="download-btn d-flex justify-content-end">
							<a class="btn btn-primary" th:href="${theme.imgUrl}" download>保存</a>
						</div>
					</div>
				</div>
				<div></div>

				<div class="preview">
					<div class="preview-container">
						<img src="" alt="" id="preview">
					</div>
				</div>

				<div>
					<form class="answer-form"
						th:action="@{/answer/upload?theme={id}(id=${theme.themeId})}"
						method="post" enctype="multipart/form-data"
						th:object="${answerForm}">
						<div class="form-group text-center">
							<label> <span class="btn btn-primary"> 画像を選択 <input
									type="file" id="inputImage" th:field="*{image}"
									accept="image/*" style="display: none;" required />
							</span>
							</label>
						</div>

						<div class="form-group">
							<label for="formDescription">説明</label> <span
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}" style="color: red">error!</span> <input
								class="form-control" placeholder="説明" id="formDescription"
								type="text" th:field="*{description}" required />
						</div>

						<div class="form-group">
							<button class="btn btn-primary" type="submit">投稿</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{footer :: footer}"></footer>

	<script type="text/javascript">
	const inputImage = document.getElementById('inputImage');
	inputImage.addEventListener('change', (e) => {
		const reader = new FileReader();
		reader.onload = (e) => {
			document.getElementById('preview').src = e.target.result;
			document.getElementById('preview').style.visibility = "visible";
		}
		reader.readAsDataURL(e.target.files[0]);
	});
	</script>
</body>
</html>
