<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>回答フォーム</h1>
	<ul>
		<li>
			<a th:href="@{/}">トップへ</a>
		</li>
	</ul>
	<div>
		<img th:src="${theme.imgUrl}" width=300/>
	</div>
	<div>
		<p th:text="${theme.request}"></p>
	</div>
	<div>
		<p>回答する</p>
		<form th:action="@{/answer/new?theme={id}(id=${theme.themeId})}" method="post" enctype="multipart/form-data" th:object="${answerForm}">
			<input type="file" th:field="*{image}" accept="image/*"/>
			<br />
			<input placeholder="説明" type="text" th:field="*{description}"/>
			<a th:href="@{/sketch?redirect-url=/answer/new?theme={id}(id=${theme.themeId})}">お絵描き</a>
			<span th:if="${image}" th:value="${image}"></span>
			<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red">error!</span>
			<br />
			<button type="submit">投稿</button>
		</form>
	</div>

	
</body>
</html>