<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<div th:replace="base"></div>	
</head>
<body>
	<div th:replace="header"></div>
	<div th:replace="nav"></div>
	<h2>My page</h2>
	<p>ようこそ<span th:text="${loginUser.name}"></span>さん</p>
	<a th:href="@{/theme/upload}">投稿</a>
	<div>
		<h3>投稿したお題</h3>
		<table>
			<tr><th>お題</th><th>画像</th></tr>
			<tr th:each="theme : ${themes}">
				<td th:text="${theme.request}"></td>
				<td><img th:src="${theme.imgUrl}" width=300 /></td>
				<td><a th:href="@{/theme/{id}(id=${theme.themeId})}">詳細</a></td>
			</tr>
		</table>
	</div>
	
</body>
</html>