<nav>
	<div class="nav-container ">
		<div class="nav-container-inner">
			<div class="nav nav-fill bg-white justify-content-between">

				<div class="nav-item">
					<a class="nav-link" href="/">トップ</a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="/theme/recent?page=1">お題</a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="/anwser/recent?page=1">回答</a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="/sketch?redirect-url=/">お絵描き</a>
				</div>

			</div>
		</div>
	</div>
</nav>