<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>Test</h1>
	<ul>
		<li>
			<a th:href="@{/mypage}">マイページへ</a>
		</li>
	</ul>
	<div>
		<h2>お題一覧</h2>
		<table>
			<tr><th>ユーザーID</th><th>お題</th><th>画像</th></tr>
			<tr th:each="theme : ${themeAll}">
				<td th:text="${theme.userId}"></td>
				<td th:text="${theme.request}"></td>
				<td><img th:src="${theme.imgUrl}" width=300 /></td>
				<td><a th:href="@{/theme/{id}(id=${theme.themeId})}">詳細</a></td>
			</tr>
		</table>
	</div>
	
	<div>
		<h2>回答一覧</h2>
		<table>
			<tr><th>ユーザーID</th><th>お題</th><th>画像</th></tr>
			<tr th:each="answer : ${answerAll}">
				<td th:text="${answer.userId}"></td>
				<td th:text="${answer.description}"></td>
				<td><img th:src="${answer.imgUrl}" width=300 /></td>
				<td><a th:href="@{/answer/{id}(id=${answer.answerId})}">詳細</a></td>
			</tr>
		</table>
	</div>
	
	
	<div>
		<h2>ユーザー一覧</h2>
		<table>
			<tr><th>ユーザーID</th><th>名前</th></tr>
			<tr th:each="user : ${userAll}">
				<td th:text="${user.userId}"></td>
				<td th:text="${user.name}"></td>
			</tr>
		</table>
	</div>

	
</body>
</html>