<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>投稿用フォーム</h1>
	<ul>
		<li>
			<a th:href="@{/mypage}">トップへ</a>
		</li>
	</ul>
	<div>
		<p>お題を投稿する</p>
		<img th:if="${image}" th:src="${image}" width=300/>
		<form th:action="@{/theme/upload}" method="post" enctype="multipart/form-data" th:object="${themeForm}">
			<input type="file" th:field="*{image}"/>
			<br />
			<input placeholder="リクエスト" type="text" th:field="*{request}"/>
			<a href="/sketch?redirect-url=/theme/upload">お絵描き</a>
			<span th:if="${image}" th:value="${image}"></span>
			<span th:if="${#fields.hasErrors('request')}" th:errors="*{request}" style="color: red">error!</span>
			<br />
			<button type="submit">投稿</button>
		</form>
	</div>
</body>
</html>