<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<div th:replace="base"></div>
	<link rel="stylesheet" th:href="@{/css/theme-form.css}">
</head>
<body>
	<div th:replace="header"></div>
	<div th:replace="nav"></div>

	<main class="container">
		<div class="main-container">
			<div class="main-cotainer-inner">
				<p>お題の投稿</p>
				<div class="preview">
					<div class="preview-container">
						<div class="img-area" id="preview">
						</div>
					</div>
				</div>
				<form class="theme-form" th:action="@{/theme/upload}" method="post" enctype="multipart/form-data" th:object="${themeForm}">

					<div class="form-group text-center">
						<label>
							<span class="btn btn-primary">
								画像を選択
								<input type="file" id="inputImage" th:field="*{image}" accept="image/*" style="display: none;"/>
							</span>
						</label>
					</div>

					<div class="form-group">
						<label for="formRequest">お題</label>
						<span th:if="${#fields.hasErrors('request')}" th:errors="*{request}" style="color: red">error!</span>
						<input class="form-control" id="formRequest" placeholder="リクエスト" type="text" th:field="*{request}"/>
						<span th:if="${image}" th:value="${image}"></span>
					</div>

					<div class="form-group">
						<button class="btn btn-primary" type="submit">投稿</button>
					</div>

				</form>
			</div>
		</div>
	</main>

	<script type="text/javascript">
	const inputImage = document.getElementById('inputImage');
	inputImage.addEventListener('change', (e) => {
		const reader = new FileReader();
		reader.onload = (e) => {
			document.getElementById('preview').style.backgroundImage = 'url(' + e.target.result + ')';
		}
		reader.readAsDataURL(e.target.files[0]);
	});

	</script>
</body>
</html>