<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<head th:replace="~{base :: base}"></head>
<link rel="stylesheet" th:href="@{/css/top.css}">
</head>
<body>
	<header th:replace="~{header :: header}"></header>
	<nav th:replace="~{nav :: nav(page='top')}"></nav>
	<main>
		<div class="main-container">
			<div class="main-container-inner">
				<div class="first-view">
					<div class="first-view-bg">
						<div class="first-view-front">
							<p>らくがき大喜利！</p>
							<p>お題にらくがきして遊ぼう！</p>
						</div>
					</div>
				</div>
			</div>
			<div class="descriptions-title">
				<p>遊び方説明</p>
			</div>
			<div class="descriptions-container">
				<div class="container-fluid">
					<div class="row">

						<div class="description col-12 col-lg-4">
							<div class="description-container">
								<div class="description-title">
									<p>何をするの？</p>
								</div>
								<div class="description-contents d-flex flex-column">
									<p>お題に対して"らくがき"で答える遊びをするよ</p>
									<p>お題に従うもよし！逆らうもよし！自由にらくがきしよう！</p>
								</div>
							</div>
						</div>

						<div class="description col-12 col-lg-4">
							<div class="description-container">
								<div class="description-title">
									<p>お題の投稿</p>
								</div>
								<div class="description-contents d-flex flex-column">
									<p>お題の投稿にはログインが必要です。アカウントが無い方は右上のログイン画面から新規登録ページへGO！</p>
									<p>マイページから投稿ができるよん</p>
									<p>持っている画像を投稿してもよし、メニューのお絵描きで、一から絵を描いてもヨシ</p>
								</div>
							</div>
						</div>
						<div class="description col-12 col-lg-4">
							<div class="description-container">
								<div class="description-title">
									<p>お題にらくがき</p>
								</div>
								<div class="description-contents d-flex flex-column">
									<p>お題にらくがきするにもログインが必要ですん。</p>
									<p>お題のページから"らくがきする"をクリックして、らくがきページに行こう</p>
									<p>らくがきはお絵描き機能を使うか、使い慣れているお絵描きツールを使おう</p>
									<p>普通に他のお絵描きツールのほうが優秀だから、ボクはそちらをオススメするね</p>
								</div>
							</div>
						</div>




					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>